.NewInternship {  
    position: relative;
    width: 1897px;
    height: 925px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
    padding-left: 23px;
    background: #F1F4F8;
  }
  
  body {
    margin: 0px;
    padding: 0px;
  }
  
  .Surveys {
    position: relative;
    width: 1897px;
    height: 696px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding: 0px;
    margin: 0px;
    background: #F1F4F8;
  }
  
  h1 {
    text-align: center;
    margin: 90px;
  }
