.StatusBar {
  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  margin-top: 65px;
  
  position: relative;
  width: 1870px;
  height: 60px;

  border: 1px solid #D0D4DA;
  border-radius: 20px;
}

.StatusBarItemActive {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;

  height: 24px;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.StatusBarItemActive .StatusBarItemicon {
  width: 24px;
  height: 24px;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.StatusBarItemActive .StatusBarItemtext {
  height: 24px;

  
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height, or 150% */
  display: flex;
  align-items: center;
  letter-spacing: 0.3px;
  font-feature-settings: 'liga' off;

  color: #1E1E1E;


  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.StatusBarItemInnactive {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;

  height: 24px;

  opacity: 0.3;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.StatusBarItemInnactive .StatusBarItemicon {
  width: 24px;
  height: 24px;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.StatusBarItemInnactive .StatusBarItemtext {
  height: 24px;

  
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height, or 150% */
  display: flex;
  align-items: center;
  letter-spacing: 0.3px;
  font-feature-settings: 'liga' off;

  color: #1E1E1E;


  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.StatusBarItemComplete {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;

  height: 24px;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.StatusBarItemComplete .StatusBarItemicon {
  width: 24px;
  height: 24px;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.StatusBarItemComplete .StatusBarItemtext {
  height: 24px;

  
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  /* identical to box height, or 150% */
  display: flex;
  align-items: center;
  letter-spacing: 0.3px;
  font-feature-settings: 'liga' off;

  /* Purple */
  color: #793EF5;


  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}